nav {
    font-family: "urbane-rounded", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.footer {
    font-family: "urbane-rounded", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Urbane Rounded Thin
font-family: "urbane-rounded", sans-serif;
font-weight: 100;
font-style: normal;

Urbane Rounded Extra Light
font-family: "urbane-rounded", sans-serif;
font-weight: 200;
font-style: normal;

Urbane Rounded Light
font-family: "urbane-rounded", sans-serif;
font-weight: 300;
font-style: normal;

Urbane Rounded Medium
font-family: "urbane-rounded", sans-serif;
font-weight: 500;
font-style: normal;

Urbane Rounded Demi Bold
font-family: "urbane-rounded", sans-serif;
font-weight: 600;
font-style: normal;

Urbane Rounded Bold
font-family: "urbane-rounded", sans-serif;
font-weight: 700;
font-style: normal;

Urbane Rounded Heavy
font-family: "urbane-rounded", sans-serif;
font-weight: 900;
font-style: normal; */