.fs-4 {
    font-family: "urbane-rounded", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "urbane-rounded", sans-serif;
    font-weight: 900;
    font-style: normal;   
}

.nav {
    font-family: "urbane-rounded", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.footer {
    font-family: "urbane-rounded", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.checked {
    color: orange;
}

@media (max-width: 767px) {
  #carouselExampleCaptions {
    display: none;
  }
}

/* Urbane Rounded Thin
font-family: "urbane-rounded", sans-serif;
font-weight: 100;
font-style: normal;

Urbane Rounded Extra Light
font-family: "urbane-rounded", sans-serif;
font-weight: 200;
font-style: normal;

Urbane Rounded Light
font-family: "urbane-rounded", sans-serif;
font-weight: 300;
font-style: normal;

Urbane Rounded Medium
font-family: "urbane-rounded", sans-serif;
font-weight: 500;
font-style: normal;

Urbane Rounded Demi Bold
font-family: "urbane-rounded", sans-serif;
font-weight: 600;
font-style: normal;

Urbane Rounded Bold
font-family: "urbane-rounded", sans-serif;
font-weight: 700;
font-style: normal;

Urbane Rounded Heavy
font-family: "urbane-rounded", sans-serif;
font-weight: 900;
font-style: normal; */